<ion-view>
    <ion-content>
    	<ion-header-bar class="bar-stable">
        	<h1 class="title">Maps</h1>
        	<button class="button button-positive" ng-click="logout()">LogOut</button>
      	</ion-header-bar>

    	<div id="map" data-tap-disabled="true"></div>
    </ion-content>
</ion-view>